# 0) chargement de spark

In [1]:
from pyspark.sql import SparkSession

#sans se connecter au cluster
#spark = SparkSession.builder.getOrCreate()

spark = SparkSession.\
        builder.\
        appName("pyspark-notebook").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "2g").\
        getOrCreate()

22/11/04 11:18:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# 1) lire de la donnée

## 1.1) lecture brute
Chargez le fichier ville_1.csv dans une variable nommée df.

Vous pouvez afficher votre donnée en utilisant la méthode take() ou la methode collect() de l'objet pyspark DataFrame (attention appeler collect() sur un dataframe est déconseillé si vous avez du vrai big data).

L'objet possède aussi un attribut appelé dtypes, appelez cet attribut pour obtenir la liste des colonnes et leur type.

In [2]:
path  = "/opt/workspace/BigData/Datasets_Emission_CO2.csv"
# lecture d'un fichier de manière la plus brute
df    = spark.read.load(path, format="csv")
df.dtypes

[('_c0', 'string')]

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 7.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Collecting numpy>=1.20.3
  Downloading numpy-1.23.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 2.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.23.4 pandas-1.5.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [5]:
import pandas as pd

In [6]:
pd.read_csv(path,sep=";", header=1)

,Afrique du Sud,"6,8","7,9","7,17","6,76","6,63","6,27","6,25","7,82","7,98","7,46","7,43"
0,Albanie,"1,77","1,8","2,55","2,34","1,73","0,58",1,"1,27","1,35","1,33","1,51"
1,Algérie,"0,58","0,81","1,43","1,86","1,98","1,92","1,97","2,33","2,65","3,27","3,16"
2,Allemagne,"12,49","12,37","13,39","12,93","11,84","10,54","9,97","9,67","9,45","8,93","8,7"
3,Angola,"0,23","0,26","0,3","0,27","0,32","0,27","0,28","0,31","0,65","0,71","0,61"
4,Arabie saoudite,"2,08","3,03","10,21","8,93","9,26","10,23","11,3","12,47","15,28","16,84","16,16"
...,...,...,...,...,...,...,...,...,...,...,...,...
140,Viêt Nam,"0,37","0,35","0,28","0,3","0,26","0,38","0,57","0,96","1,45","1,84",2
141,Yémen,"0,19","0,26","0,43","0,49","0,52","0,62","0,75","0,92","0,95","0,42","0,32"
142,Yougoslavie,NaN,"3,54","3,87","5,28",NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,Zambie,"0,78","0,87","0,56","0,39","0,32","0,22","0,16","0,18","0,12","0,21","0,35"
144,Zimbabwe,"1,35","1,17","1,11","1,12","1,6","1,33","1,09","0,79","0,66","0,75","0,59"

In [7]:
path  = "/opt/workspace/BigData/PIB_Par_Tete_modifie.csv"
# lecture d'un fichier de manière la plus brute
df    = spark.read.load(path, format="csv")
df.dtypes

[('_c0', 'string')]

In [8]:
pd.read_csv(path,sep=";", header=1)

,Australie,"22327,5","23430,09","25594,62","27773,92","29856,67","33146,82","37933,18","42370,34","44478,98","47232,63","48116,44"
0,Autriche,"21373,65","24405,49","28794,91","30910,61","35361,52","38125,62","43826,22","46591,87","48907,74","49942,06","51105,6"
1,Belgique,"20890,3","23692,89","27552,51","28810,99","33167,59","35296,31","40193,01","43290,08","44813,01","46201,68","47122,51"
2,Canada,"22226,76","24914,41","28295,53","30604,35","32488,54","33415,58","38857,67","41999,24","42169,96","44670,05","45417,37"
3,Chili,..,..,..,..,"8729,19","12120,95","14255,69","16967,67","19617,71","22563,58","22705,13"
4,Colombie,..,"5693,4","6601,63","6841,05","7790,66","8948,42","8534,54","9579,23","11228,4","13330,56","13491,49"
5,R姿ublique tch述ue,..,..,..,..,"22042,81","21323,53","23369,79","28414,53","31254,65","33909,31","36405,97"
6,Danemark,"25368,42","26228,42","29532,78","33880,94","36195,77","39912,53","45363,34","47742,29","47134,28","49058,14","51329,97"
7,Estonie,..,..,..,..,..,"11871,9","16368,39","23636,98","23372,59","27387,59","29888,18"
8,Finlande,"17386,25","20616,94","23751,78","26666,75","31057,84","29700,25","37615,22","42228,33","43253,59","42490,21","44852,7"
9,France,"20383,13","22753,96","26273,06","27672,48","31778,68","33158,78","37450,37","39253,22","39730,93","40829,89","41886,43"
10,Allemagne,"21328,28","23212,92","27523,14","29693,99","34182,92","36801,54","40319,79","41469,45","44551,69","47609,56","49389,27"
11,Gr縦e,"16869,29","19515,28","22455,9","21946,6","22819,53","23598,02","27587,57","32829,96","31904,69","26760,15","27086,48"
12,Hongrie,..,..,..,..,..,"16174,89","18897,79","23767,64","23828,96","26798,85","28719,39"
13,Islande,"18986,67","21652,95","28048,49","29716,85","32913,42","31774,83","39188,09","45518,55","44785,87","49203,29","52499,4"
14,Irlande,"13897,5","16003,08","18679,28","20346,93","25862,38","31578,7","46872,64","55603,29","51697,35","69165,9","75201,83"
15,Isra鼠,"15202,88","17681,42","18333,07","19656,07","22143,55","25623,17","28975,91","29094,39","32747,99","35877,15","37609,64"
16,Italie,"19458,17","21775,49","26592,87","28827,5","33541,95","35706,98","39472,06","40440,96","38760,49","37206,33","38461,31"
17,Japon,"17027,35","19074,62","22569,49","26741,54","33214,03","35305,95","36772,69","38725,89","38545,65","40908,78","42041,31"
18,Cor仔,"2826,8","3832,95","5350,2",7850,"12354,53","17688,19","22415,84","27957,17","33574,01","37902,36","39980,22"
19,Lituanie,..,..,..,..,..,"9978,12","12985,01","19743,02","22452,58","28834,46","31660,56"
20,Lettonie,..,..,..,..,..,"9003,89","12184,06","19070,67","19862,13","24975,48","26905,75"
21,Luxembourg,"36937,22","39603,39","43644,99","49048,62","67517,36","76432,92","94485,12","103402,81","108840,71","107898,3","109460,5"
22,Mexique,"10080,42","11680,25","13921,31","13695,49","13463,83","13644,54","16531,41","16738,42","16893,58","18454,8","18945,73"
23,Pays-Bas,"24146,26","26398,72","29343,19","30297,99","34624,97","37495,78","45016,75","46959,29","49396,33","50288,35","52296,81"
24,Nouvelle-Z四ande,"20875,97","22860,04","22596,58","25274,78","24850,68","26471,45","29323,71","33247,52","34072,89","37246,95","38649,87"
25,Norv夙e,"22688,58","26539,76","32521,49","37925,08","40389,35","47215,02","54752,01","59301,94","58805,84","60352,72","61387,58"
26,Pologne,..,..,..,..,"10953,75","12120,34","15684,84","18271,13","22686,49","26495,81","28705,12"
27,Portugal,12515,"13823,43","16505,74","16830,44","22426,82","24327,89","28959,72","29620,83","30308,45","29660,84","31496,61"
28,R姿ublique slovaque,..,..,..,..,..,"13825,61","16309,42","20894,79","26551,67","30062,18","31453,91"
29,Slov始ie,..,..,..,..,"20598,67","20112,29","24582,98","29124,03","31204,38","31631,84","34171,54"
30,Espagne,"15848,29","18886,73","19709,25","20622,11","25410,36","27123,58","32467,84","35442,94","34860,13","34929,21","36960,44"
31,Su重e,"23292,6","25915,1","27299,28","29983,06","32932,02","33006,55","39168,96","43811,1","46078,02","49103,13","50085,59"
32,Suisse,"42720,11","42334,02","46156,82","48613,98","54018,75","52047,04","57095,13","59393,24","63773,73","66020,21","67066,08"
33,T殲kiye,"7934,78","9001,03","9124,56","10220,1","12223,9","13206,01","15066,45","17966,7","19647,9","25855,91","27970,14"
34,Royaume-Uni,"19137,3","20324,53","22655,73","25348,36","29747,19","31795,44","37080,56","40762,02","40160,36","42916,97","44193,91"
35,フats-Unis,"25796,15","27379,33","31093,38","34923,1","39215,83","41772,05","48705,38","52704,77","52887,07","56731,07","58190,22"

In [9]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains

spark = SparkSession.\
        builder.\
        appName("pyspark-notebook").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "2g").\
        getOrCreate()

df3 = spark.read.options(header='True', delimiter=';') \
  .csv("/opt/workspace/BigData/Datasets_Emission_CO2.csv")

#df3.printSchema()df = spark.read.csv("/opt/workspace/ProjetBigData/PIB_Par_Tete_modifie.csv")

df3.show(50)

+--------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|                 _c0| 1971| 1975| 1980| 1985| 1990| 1995| 2000| 2005| 2010| 2015| 2017|
+--------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|      Afrique du Sud|  6,8|  7,9| 7,17| 6,76| 6,63| 6,27| 6,25| 7,82| 7,98| 7,46| 7,43|
|             Albanie| 1,77|  1,8| 2,55| 2,34| 1,73| 0,58|    1| 1,27| 1,35| 1,33| 1,51|
|             Algérie| 0,58| 0,81| 1,43| 1,86| 1,98| 1,92| 1,97| 2,33| 2,65| 3,27| 3,16|
|           Allemagne|12,49|12,37|13,39|12,93|11,84|10,54| 9,97| 9,67| 9,45| 8,93|  8,7|
|              Angola| 0,23| 0,26|  0,3| 0,27| 0,32| 0,27| 0,28| 0,31| 0,65| 0,71| 0,61|
|     Arabie saoudite| 2,08| 3,03|10,21| 8,93| 9,26|10,23| 11,3|12,47|15,28|16,84|16,16|
|           Argentine| 3,39| 3,27| 3,39| 2,89| 3,04| 3,35| 3,76| 3,82| 4,22| 4,39| 4,14|
|             Arménie| null| null| null| null| 5,61| 1,05| 1,12| 1,39| 1,41| 1,61| 1,76|
|           Australie|10,86|12,85|13,96|13,84|15,03|15,66|17,36|18,18|17,42|15,72|15,63|
|            Autriche| 6,48| 6,53|  7,2| 6,96| 7,33| 7,49| 7,72| 9,04| 8,17| 7,24| 7,38|
|         Azerbaïdjan| null| null| null| null| 7,47| 4,21| 3,39| 3,46|  2,6| 3,19| 3,12|
|             Bahreïn|13,15|19,59|20,11|21,72|21,53|23,86|23,82|23,13|20,59|21,92|19,97|
|          Bangladesh| 0,04| 0,06| 0,08| 0,08| 0,11| 0,14| 0,16| 0,22| 0,33| 0,44| 0,48|
|            Belgique|12,21|11,81|12,74|10,25|10,66|10,99| 11,1|10,25| 9,51| 8,24| 7,96|
|               Bénin|  0,1| 0,14| 0,11| 0,11| 0,05| 0,04| 0,21| 0,34|  0,5|  0,5| 0,61|
|         Biélorussie| null| null| null| null|  9,8| 5,59| 5,22| 5,69| 6,27| 5,55| 5,69|
|            Birmanie| 0,17| 0,13| 0,15| 0,15|  0,1| 0,16|  0,2| 0,22| 0,16| 0,36| 0,57|
|             Bolivie| 0,47| 0,64| 0,75| 0,69| 0,75| 0,91| 0,85| 0,99| 1,38|  1,7| 1,98|
|  Bosnie-Herzégovine| null| null| null| null| 5,37| 0,85| 3,64| 4,19|  5,5| 5,44| 6,37|
|            Botswana| null| null| null| 1,26| 2,04| 2,03| 2,33| 2,31| 1,62|  3,2| 3,37|
|              Brésil|  0,9|  1,2| 1,39| 1,15| 1,23|  1,4| 1,67| 1,66| 1,88| 2,19| 2,04|
|              Brunei| 2,93| 8,69| 13,6|13,09|12,59|15,16|13,29|13,21|17,64| 14,3|15,64|
|            Bulgarie| 7,48| 8,41|  9,6| 9,17| 8,55| 6,27| 5,16| 6,07|    6| 6,09| 6,05|
|            Cambodge| null| null| null| null| null| 0,14| 0,16|  0,2| 0,32| 0,52| 0,67|
|            Cameroun| 0,11| 0,14| 0,19| 0,24| 0,23| 0,18| 0,18| 0,17| 0,25| 0,26| 0,26|
|              Canada|15,49| 16,3|17,22|15,24|15,15|15,32|16,82|16,75|15,57|15,12|14,99|
|               Chili| 2,16| 1,64| 1,92| 1,62| 2,23| 2,58| 3,16| 3,34| 4,01|  4,5| 4,65|
|               Chine| 0,93| 1,12| 1,39| 1,55| 1,84| 2,41| 2,46| 4,15| 5,83| 6,64| 6,68|
|              Chypre| 2,83| 3,28| 5,09| 5,14| 6,79| 7,83| 9,14| 9,62| 8,87| 6,97| 7,45|
|            Colombie| 1,18| 1,14| 1,26| 1,27| 1,34| 1,45| 1,34| 1,24| 1,31| 1,62| 1,53|
|       Corée du Nord| 4,67| 4,83| 6,19| 6,86| 5,76|  3,5| 3,05| 3,15|    2| 0,89| 0,77|
|        Corée du Sud| 1,61|  2,2|  3,3| 3,82| 5,41| 7,92| 9,19|  9,5|11,12|11,41|11,66|
|          Costa Rica| 0,67| 0,83|  0,9| 0,71| 0,84| 1,27| 1,15| 1,28| 1,46| 1,44| 1,55|
|       Côte d'Ivoire| 0,44| 0,46| 0,41|  0,3| 0,22| 0,22| 0,38| 0,32| 0,31| 0,42| 0,42|
|             Croatie| null| null| null| null| 4,25| 3,17| 3,79| 4,48| 4,13| 3,69| 3,92|
|                Cuba| 2,35| 2,56|  3,1| 3,19| 3,22| 2,06| 2,45| 2,22|  2,6| 2,34| 2,28|
|             Curaçao|90,15|60,33|50,15|24,58| 14,1|13,23|26,77|27,16|19,11|29,59|23,28|
|            Danemark|11,17| 10,4|12,31|11,94| 9,92|11,16| 9,52| 8,95| 8,52| 5,62| 5,42|
|              Égypte| 0,56| 0,65| 0,92| 1,28| 1,36| 1,28| 1,43| 1,88|  2,1| 2,13| 2,14|
| Émirats arabes unis| 8,83| 8,88|18,45|25,62| 27,9|28,44|25,31|24,27|18,69|20,38|20,91|
|            Équateur| 0,56| 0,85| 1,31| 1,29|  1,3| 1,46| 1,44| 1,74| 2,15| 2,28| 2,06|
|            Érythrée| null| null| null| null| null| 0,25| 0,18| 0,15| 0,11| 0,12| 0,12|
|             Espagne| 3,44| 4,33|  4,9| 4,45| 5,15| 5,75| 6,87| 7,64| 5,63| 5,32| 5,45|
|             Estonie| null| null| null| null|22,06|10,97|10,31|12,32|13,93|11,51|12,14|
|          États-Unis|20,65|20,17|20,18|18,93| 19,2|19,03|20,29|19,27|17,28|15,32|14,61|
|            Éthiopie| 0,05| 0,04| 0,04| 0,03| 0,05| 0,04| 0,05| 0,06| 0,07|  0,1| 0,12|
|            Finlande| 8,64| 9,38|11,48| 9,85| 10,8|10,91|10,55|10,47|11,56| 7,74| 7,73|
|              France| 8,07| 7,85| 8,25| 6,21| 5,94| 5,78| 5,99| 5,89| 5,25| 4,39| 4,56|
|               Gabon| 0,79| 1,17| 1,77| 2,03| 0,96| 1,21| 1,19| 1,24| 1,62| 1,68| 1,66|
|             Géorgie| null| null| null| null| 6,97| 1,72| 1,05| 0,97| 1,27| 2,26| 2,35|
+--------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 50 rows

In [11]:
df4 = spark.read.options(header='True', delimiter=';') \
  .csv("/opt/workspace/BigData/PIB_Par_Tete_modifie.csv")

#df3.printSchema()df = spark.read.csv("/opt/workspace/ProjetBigData/PIB_Par_Tete_modifie.csv")

df4.show(40)

+-------------------+--------+--------+--------+--------+--------+--------+--------+---------+---------+--------+--------+
|                _c0|    1971|    1975|    1980|    1985|    1990|    1995|    2000|     2005|     2010|    2015|    2017|
+-------------------+--------+--------+--------+--------+--------+--------+--------+---------+---------+--------+--------+
|          Australie| 22327,5|23430,09|25594,62|27773,92|29856,67|33146,82|37933,18| 42370,34| 44478,98|47232,63|48116,44|
|           Autriche|21373,65|24405,49|28794,91|30910,61|35361,52|38125,62|43826,22| 46591,87| 48907,74|49942,06| 51105,6|
|           Belgique| 20890,3|23692,89|27552,51|28810,99|33167,59|35296,31|40193,01| 43290,08| 44813,01|46201,68|47122,51|
|             Canada|22226,76|24914,41|28295,53|30604,35|32488,54|33415,58|38857,67| 41999,24| 42169,96|44670,05|45417,37|
|              Chili|      ..|      ..|      ..|      ..| 8729,19|12120,95|14255,69| 16967,67| 19617,71|22563,58|22705,13|
|           Colombie|      ..|  5693,4| 6601,63| 6841,05| 7790,66| 8948,42| 8534,54|  9579,23|  11228,4|13330,56|13491,49|
| R姿ublique tch述ue|      ..|      ..|      ..|      ..|22042,81|21323,53|23369,79| 28414,53| 31254,65|33909,31|36405,97|
|           Danemark|25368,42|26228,42|29532,78|33880,94|36195,77|39912,53|45363,34| 47742,29| 47134,28|49058,14|51329,97|
|            Estonie|      ..|      ..|      ..|      ..|      ..| 11871,9|16368,39| 23636,98| 23372,59|27387,59|29888,18|
|           Finlande|17386,25|20616,94|23751,78|26666,75|31057,84|29700,25|37615,22| 42228,33| 43253,59|42490,21| 44852,7|
|             France|20383,13|22753,96|26273,06|27672,48|31778,68|33158,78|37450,37| 39253,22| 39730,93|40829,89|41886,43|
|          Allemagne|21328,28|23212,92|27523,14|29693,99|34182,92|36801,54|40319,79| 41469,45| 44551,69|47609,56|49389,27|
|              Gr縦e|16869,29|19515,28| 22455,9| 21946,6|22819,53|23598,02|27587,57| 32829,96| 31904,69|26760,15|27086,48|
|            Hongrie|      ..|      ..|      ..|      ..|      ..|16174,89|18897,79| 23767,64| 23828,96|26798,85|28719,39|
|            Islande|18986,67|21652,95|28048,49|29716,85|32913,42|31774,83|39188,09| 45518,55| 44785,87|49203,29| 52499,4|
|            Irlande| 13897,5|16003,08|18679,28|20346,93|25862,38| 31578,7|46872,64| 55603,29| 51697,35| 69165,9|75201,83|
|             Isra鼠|15202,88|17681,42|18333,07|19656,07|22143,55|25623,17|28975,91| 29094,39| 32747,99|35877,15|37609,64|
|             Italie|19458,17|21775,49|26592,87| 28827,5|33541,95|35706,98|39472,06| 40440,96| 38760,49|37206,33|38461,31|
|              Japon|17027,35|19074,62|22569,49|26741,54|33214,03|35305,95|36772,69| 38725,89| 38545,65|40908,78|42041,31|
|              Cor仔|  2826,8| 3832,95|  5350,2|    7850|12354,53|17688,19|22415,84| 27957,17| 33574,01|37902,36|39980,22|
|           Lituanie|      ..|      ..|      ..|      ..|      ..| 9978,12|12985,01| 19743,02| 22452,58|28834,46|31660,56|
|           Lettonie|      ..|      ..|      ..|      ..|      ..| 9003,89|12184,06| 19070,67| 19862,13|24975,48|26905,75|
|         Luxembourg|36937,22|39603,39|43644,99|49048,62|67517,36|76432,92|94485,12|103402,81|108840,71|107898,3|109460,5|
|            Mexique|10080,42|11680,25|13921,31|13695,49|13463,83|13644,54|16531,41| 16738,42| 16893,58| 18454,8|18945,73|
|           Pays-Bas|24146,26|26398,72|29343,19|30297,99|34624,97|37495,78|45016,75| 46959,29| 49396,33|50288,35|52296,81|
|   Nouvelle-Z四ande|20875,97|22860,04|22596,58|25274,78|24850,68|26471,45|29323,71| 33247,52| 34072,89|37246,95|38649,87|
|            Norv夙e|22688,58|26539,76|32521,49|37925,08|40389,35|47215,02|54752,01| 59301,94| 58805,84|60352,72|61387,58|
|            Pologne|      ..|      ..|      ..|      ..|10953,75|12120,34|15684,84| 18271,13| 22686,49|26495,81|28705,12|
|           Portugal|   12515|13823,43|16505,74|16830,44|22426,82|24327,89|28959,72| 29620,83| 30308,45|29660,84|31496,61|
|R姿ublique slovaque|      ..|      ..|      ..|      ..|      ..|13825,61|16309,42| 20894,79| 26551,67|30062,18|31453,91|
|           Slov始ie|      ..|      ..|      ..|      ..|20598,67|20112,29|24582,98| 29124,03| 31204,38|31631,84|34171,54|
|            Espagne|15848,29|18886,73|19709,25|20622,11|25410,36|27123,58|32467,84| 35442,94| 34860,13|34929,21|36960,44|
|              Su重e| 23292,6| 25915,1|27299,28|29983,06|32932,02|33006,55|39168,96|  43811,1| 46078,02|49103,13|50085,59|
|             Suisse|42720,11|42334,02|46156,82|48613,98|54018,75|52047,04|57095,13| 59393,24| 63773,73|66020,21|67066,08|
|            T殲kiye| 7934,78| 9001,03| 9124,56| 10220,1| 12223,9|13206,01|15066,45|  17966,7|  19647,9|25855,91|27970,14|
|        Royaume-Uni| 19137,3|20324,53|22655,73|25348,36|29747,19|31795,44|37080,56| 40762,02| 40160,36|42916,97|44193,91|
|         フats-Unis|25796,15|27379,33|31093,38| 34923,1|39215,83|41772,05|48705,38| 52704,77| 52887,07|56731,07|58190,22|
+-------------------+--------+--------+--------+--------+--------+--------+--------+---------+---------+--------+--------+

In [20]:
spark = SparkSession.\
        builder.\
        appName("pyspark-notebook").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "2g").\
        getOrCreate()

#df_load = sparkSession.read.csv('hdfs://Projet/data/Datasets_Emission_CO2.csv')
#df_load.show()

path  = "hdfs://namenode:9000/Projet/data/Datasets_Emission_CO2.csv"
# lecture d'un fichier de manière la plus brute
df_test  = spark.read.load(path, format="csv")
df_test.show(10)

+--------------------+
|                 _c0|
+--------------------+
|;1971;1975;1980;1...|
|    Afrique du Sud;6|
|           Albanie;1|
|           Algérie;0|
|        Allemagne;12|
|            Angola;0|
|   Arabie saoudite;2|
|         Argentine;3|
|       Arménie;;;;;5|
|        Australie;10|
+--------------------+
only showing top 10 rows

In [21]:
df_test = spark.read.options(header='True', delimiter=';') \
  .csv("hdfs://namenode:9000/Projet/data/Datasets_Emission_CO2.csv")
df_test.show(10)

+----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|             _c0| 1971| 1975| 1980| 1985| 1990| 1995| 2000| 2005| 2010| 2015| 2017|
+----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|  Afrique du Sud|  6,8|  7,9| 7,17| 6,76| 6,63| 6,27| 6,25| 7,82| 7,98| 7,46| 7,43|
|         Albanie| 1,77|  1,8| 2,55| 2,34| 1,73| 0,58|    1| 1,27| 1,35| 1,33| 1,51|
|         Algérie| 0,58| 0,81| 1,43| 1,86| 1,98| 1,92| 1,97| 2,33| 2,65| 3,27| 3,16|
|       Allemagne|12,49|12,37|13,39|12,93|11,84|10,54| 9,97| 9,67| 9,45| 8,93|  8,7|
|          Angola| 0,23| 0,26|  0,3| 0,27| 0,32| 0,27| 0,28| 0,31| 0,65| 0,71| 0,61|
| Arabie saoudite| 2,08| 3,03|10,21| 8,93| 9,26|10,23| 11,3|12,47|15,28|16,84|16,16|
|       Argentine| 3,39| 3,27| 3,39| 2,89| 3,04| 3,35| 3,76| 3,82| 4,22| 4,39| 4,14|
|         Arménie| null| null| null| null| 5,61| 1,05| 1,12| 1,39| 1,41| 1,61| 1,76|
|       Australie|10,86|12,85|13,96|13,84|15,03|15,66|17,36|18,18|17,42|15,72|15,63|
|        Autriche| 6,48| 6,53|  7,2| 6,96| 7,33| 7,49| 7,72| 9,04| 8,17| 7,24| 7,38|
+----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 10 rows

## 1.3) lecture avec les types détectés automatiquement
Recharger le fichier avec  l'option inferShema.

L'option 'inferSchema' permet de transformer les colonnes en types plus précis : entier  / booléens / chaines de caractères... bien sûr spark trouve les types uniquement si le fichier d'origine permet de les trouver de manière simple

In [6]:
df = spark.read.format('csv').options(header=True, inferSchema=True).load(path)
df.dtypes

[('id', 'int'),
 ('vitesse_a_pied', 'double'),
 ('vitesse_a_velo', 'double'),
 ('home', 'string'),
 ('travail', 'string'),
 ('sportif', 'boolean'),
 ('casseur', 'boolean'),
 ('statut', 'string'),
 ('salaire', 'double'),
 ('sexe', 'string'),
 ('age', 'int'),
 ('sportivite', 'double'),
 ('velo_perf_minimale', 'double')]

## 1.4) lecture avec schéma
Il vous permet d'afficher le schéma de votre df, avec pour chaque colonne son nom, son type, et si elle accepte les valeurs nulles ou non.

In [7]:
df.schema

StructType(List(StructField(id,IntegerType,true),StructField(vitesse_a_pied,DoubleType,true),StructField(vitesse_a_velo,DoubleType,true),StructField(home,StringType,true),StructField(travail,StringType,true),StructField(sportif,BooleanType,true),StructField(casseur,BooleanType,true),StructField(statut,StringType,true),StructField(salaire,DoubleType,true),StructField(sexe,StringType,true),StructField(age,IntegerType,true),StructField(sportivite,DoubleType,true),StructField(velo_perf_minimale,DoubleType,true)))

Vous avez aussi la méthode printSchema() qui permet d'afficher le shéma du df de manière plus lisible.

In [9]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

# 2) écriture de la dataframe sur le disque

## 2.1) choix du format : csv

In [10]:
df.write.format("csv").save("./csv")

AnalysisException: path file:/opt/workspace/csv already exists.;

## 2.2) choix du format : parquet

In [11]:

df.write.format("parquet").save("./parquet")

AnalysisException: path file:/opt/workspace/parquet already exists.;

## 2.3) choix du format : json

In [12]:
df.write.save("./json_data", format="json")

AnalysisException: path file:/opt/workspace/json_data already exists.;

In [13]:
!ls ./data_velo/Villes/

csv  parquet  ville  ville_1.csv

## 2.4) lecture de différents formats
Vous pouvez choisir de lire le df sous un format ou un autre en utilisant l'argument format dans la fonction spark.read.load

In [14]:
spark.read.load("./json_data", format="json")

DataFrame[age: bigint, casseur: boolean, home: string, id: bigint, salaire: double, sexe: string, sportif: boolean, sportivite: double, statut: string, travail: string, velo_perf_minimale: double, vitesse_a_pied: double, vitesse_a_velo: double]

In [15]:
spark.read.load("./data_velo/Villes/ville/", format="csv").count()

50

# 3) Calculer des résultats : les actions

## 3.1) nombre de lignes : count
Chargez les fichiers csv contenus dans le dossiers ./data_velo/Cyclistes/ dans un df nommé cyclistes, puis comptez les lignes du dataframe obtenu.

In [16]:
!ls ./data_velo/Cyclistes/

cycliste_10.csv  cycliste_22.csv  cycliste_34.csv  cycliste_46.csv
cycliste_11.csv  cycliste_23.csv  cycliste_35.csv  cycliste_47.csv
cycliste_12.csv  cycliste_24.csv  cycliste_36.csv  cycliste_48.csv
cycliste_13.csv  cycliste_25.csv  cycliste_37.csv  cycliste_49.csv
cycliste_14.csv  cycliste_26.csv  cycliste_38.csv  cycliste_5.csv
cycliste_15.csv  cycliste_27.csv  cycliste_39.csv  cycliste_50.csv
cycliste_16.csv  cycliste_28.csv  cycliste_4.csv   cycliste_51.csv
cycliste_17.csv  cycliste_29.csv  cycliste_40.csv  cycliste_6.csv
cycliste_18.csv  cycliste_3.csv   cycliste_41.csv  cycliste_7.csv
cycliste_19.csv  cycliste_30.csv  cycliste_42.csv  cycliste_8.csv
cycliste_2.csv	 cycliste_31.csv  cycliste_43.csv  cycliste_9.csv
cycliste_20.csv  cycliste_32.csv  cycliste_44.csv
cycliste_21.csv  cycliste_33.csv  cycliste_45.csv

In [17]:
spark.read.load("./data_velo/Cyclistes/", format="csv").count()

2232050

Afficher le schéma de ce nouveau df

In [18]:
path = "./data_velo/Cyclistes/"
#df   = spark.read.load(path, format="csv")
df = spark.read.format('csv').options(header=True, inferSchema=True).load(path)
df.dtypes

[('id', 'int'),
 ('timestamp', 'string'),
 ('sur_velo', 'boolean'),
 ('velo', 'string'),
 ('vitesse', 'double'),
 ('position', 'string'),
 ('destination_finale', 'string')]

Affichez 10 lignes du df.

In [19]:
path = "./data_velo/Cyclistes/"
#df   = spark.read.load(path, format="csv")
df = spark.read.format('csv').options(header=True, inferSchema=True).load(path)
df.dtypes
df.printSchema()
df.take(10)

root
 |-- id: integer (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- sur_velo: boolean (nullable = true)
 |-- velo: string (nullable = true)
 |-- vitesse: double (nullable = true)
 |-- position: string (nullable = true)
 |-- destination_finale: string (nullable = true)

[Row(id=12, timestamp='2018-01-01 00:01:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False'),
 Row(id=12, timestamp='2018-01-01 00:02:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False'),
 Row(id=12, timestamp='2018-01-01 00:03:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False'),
 Row(id=12, timestamp='2018-01-01 00:04:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False'),
 Row(id=12, timestamp='2018-01-01 00:05:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False'),
 Row(id=12, timestamp='2018-01-01 00:06:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False'),
 Row(id=12, timestamp='2018-01-01 00:07:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False'),
 Row(id=12, timestamp='2018-01-01 00:08:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False'),
 Row(id=12, timestamp='2018-01-01 00:09:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False'),
 Row(id=12, timestamp='2018-01-01 00:10:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False')]

## 3.2) moyenne : agg + colonne + mean
A l'aide de la méthode agg(), calculez la moyenne sur la colonne vitesse.

Vous pouvez récuperer le résultat avec la méthode collect().

In [20]:
df.agg({"vitesse":"mean"}).show()

+------------------+
|      avg(vitesse)|
+------------------+
|0.4423137464018649|
+------------------+

## 3.3) quantile approximatifs pour gagner du temps de calcul
En statistiques et en théorie des probabilités, les quantiles sont les valeurs qui divisent un jeu de données en intervalles contenant le même nombre de données. Il y a donc un quantile de moins que le nombre de groupes créés. Ainsi les quartiles sont les trois quantiles qui divisent un ensemble de données en quatre groupes de taille égale.

La méthode approxQuantile permet de laisser une tolérance a l'erreur ce qui réduit le temps de calul sur d'énormes jeux de données.

In [21]:
import time
df.printSchema()

In [22]:
def calcul_quantile(df, erreur_acceptee):
    debut            = time.time()
    colonne          = "vitesse"
    quantiles_voulus = [0.25, 0.50, 0.75]
    resultat         =  df.approxQuantile(colonne, quantiles_voulus , erreur_acceptee )
    fin              = time.time()
    delais           = fin -debut
    print ("delais =%.2f sec, quantiles = %s"%(delais, resultat))

In [23]:
calcul_quantile(df, 0.05)

delais =3.85 sec, quantiles = [0.030000000000000006, 0.2944550644296354, 0.5931162118010243]

In [24]:
calcul_quantile(df, 0.01)

delais =4.14 sec, quantiles = [0.030000000000000006, 0.2944550644296354, 0.6295531740219638]

In [25]:
calcul_quantile(df, 0)

delais =7.28 sec, quantiles = [0.030000000000000006, 0.3283952876721612, 0.6295531740219638]

## Reload de la dataframe
Chargez le fichier villes dans un df nommé villes.

In [26]:
villes =spark.read.load("./data_velo/villes/", format="csv", header=True, inferSchema="True")
villes.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

## 3.4) corrélation
En probabilités et en statistique, la corrélation entre plusieurs variables aléatoires ou statistiques est une notion de liaison qui contredit leur indépendance.

Calculez la corrélation entre les colonnes age et vitesse_a_velo.

In [27]:
villes.corr(col1= 'age', col2= 'vitesse_a_velo')

-0.06411845578664936

## 3.5) covariance
Calculez la covariance entre les colonnes age et vitesse_a_velo.

In [28]:
villes.cov(col1= 'age', col2='vitesse_a_velo')

-1.5721945755314064

## 3.6) sample

In [29]:
villes_1_pct = villes.sample(False, 0.1)

In [31]:
villes_1_pct.count()

5

In [30]:
villes.exceptAll(villes_1_pct).count()

41

## 3.7) filter 
La méthode filter() permet le df selon certaines valeurs dans les colonnes.

Utilisez cette méthode pour récuperer seulement les lignes avec le sexe féminin.

In [31]:
villes.filter("sexe = 'F'").show()

+---+-------------------+-------------------+-------------------+-------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
| id|     vitesse_a_pied|     vitesse_a_velo|               home|            travail|sportif|casseur|              statut|           salaire|sexe|age|         sportivite|velo_perf_minimale|
+---+-------------------+-------------------+-------------------+-------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
|  3|               0.02|               0.05|(lon:3.79 lat:3.81)|(lon:0.20 lat:0.21)|  false|  false|technicien_de_sur...| 20026.72646423192|   F| 20|                0.1|               0.4|
|  4|               0.02|               0.05|(lon:3.39 lat:0.93)|(lon:0.58 lat:0.20)|  false|  false|technicien_de_sur...|15214.584161640825|   F| 35|                0.1|               0.4|
|  6|               0.02|               0.05|(lon:0.44 lat:1.45)|(lon:1.85 lat:0.04)|  false|  false|          professeur|30852.120709809133|   F| 79|                0.1|               0.4|
|  7| 0.9726853575358816|  2.431713393839704|(lon:0.18 lat:2.60)|(lon:2.16 lat:2.28)|  false|  false|             employe| 54494.87538632937|   F| 46|  4.863426787679408|               0.4|
|  9| 0.6295531740219638| 1.5738829350549093|(lon:2.16 lat:2.32)|(lon:3.44 lat:3.54)|  false|  false|technicien_de_sur...|11799.927798039249|   F| 65| 3.1477658701098186|               0.4|
| 11|0.25214291732243804|  0.630357293306095|(lon:0.28 lat:2.44)|(lon:1.28 lat:1.40)|  false|  false|             employe|  53716.3729157698|   F| 21|   1.26071458661219|               0.4|
| 14| 0.3733552690301726| 0.9333881725754316|(lon:3.87 lat:3.74)|(lon:0.41 lat:0.36)|  false|  false|               cadre|  74308.6319691613|   F| 34|  1.866776345150863|               0.4|
| 16|               0.02|               0.05|(lon:1.37 lat:1.09)|(lon:0.45 lat:1.77)|  false|  false|             éboueur|21040.289070523115|   F| 32|                0.1|               0.4|
| 17| 1.0608622097751907| 2.6521555244379766|(lon:3.68 lat:0.79)|(lon:2.67 lat:3.66)|  false|  false|technicien_de_sur...|16946.365288912493|   F| 16|  5.304311048875953|               0.4|
| 18|               0.02|               0.05|(lon:0.51 lat:2.32)|(lon:1.01 lat:0.40)|  false|  false|technicien_de_sur...|22099.145463261266|   F| 24|                0.1|               0.4|
| 22| 0.5931162118010243| 1.4827905295025607|(lon:1.41 lat:2.43)|(lon:1.49 lat:1.44)|  false|  false|             employe|38906.393030229774|   F| 36|  2.965581059005121|               0.4|
| 23| 0.1431743884246346| 0.3579359710615865|(lon:0.80 lat:2.82)|(lon:0.34 lat:3.77)|  false|  false|             employe|29085.686473822872|   F| 78| 0.7158719421231731|               0.4|
| 27| 0.4804764997211946| 1.2011912493029866|(lon:0.78 lat:2.62)|(lon:2.30 lat:0.01)|  false|  false|technicien_de_sur...|18234.071705216207|   F| 59|  2.402382498605973|               0.4|
| 29|0.07468040314496042|0.18670100786240107|(lon:3.75 lat:3.12)|(lon:2.30 lat:3.92)|  false|  false|          reserviste|29515.863019061188|   F| 67| 0.3734020157248021|               0.4|
| 30| 0.5525664880322532| 1.3814162200806333|(lon:1.08 lat:3.77)|(lon:0.72 lat:3.32)|  false|  false|             employe|27046.171282769843|   F| 81| 2.7628324401612665|               0.4|
| 34|0.03887047976999849|0.09717619942499622|(lon:2.83 lat:0.56)|(lon:3.25 lat:1.60)|  false|  false|technicien_de_sur...|17175.758356245642|   F| 21|0.19435239884999245|               0.4|
| 42| 0.6992238313299156| 1.7480595783247892|(lon:3.80 lat:3.99)|(lon:2.13 lat:1.65)|  false|  false|             employe| 19383.17526928032|   F| 21| 3.4961191566495784|               0.4|
| 47|0.18444538804220728| 0.4611134701055182|(lon:1.74 lat:3.62)|(lon:2.96 lat:2.23)|  false|  false|          reserviste| 30798.10624851897|   F| 58| 0.9222269402110364|               0.4|
| 48| 0.5652688776055729|  1.413172194013932|(lon:3.51 lat:2.24)|(lon:0.27 lat:1.34)|  false|  false|             éboueur|12133.681930505132|   F| 56| 2.8263443880278643|               0.4|
| 49| 0.9920385410084079|   2.48009635252102|(lon:0.13 lat:2.04)|(lon:1.35 lat:0.63)|  false|  false|technicien_de_sur...| 9511.945356442959|   F| 58|   4.96019270504204|               0.4|
+---+-------------------+-------------------+-------------------+-------------------+-------+-------+--------------------+------------------+----+---+-------------------+------------------+
only showing top 20 rows

# 4) Transformer la données : les transformations!

## Transformations : demandent à être suivi par un collect ou une action (count par exemple)

## 4.1) obtenir des statistiques sur les colonnes numériques
La méthode describe() permet de calculer les statistiques récapitulatives d'une ou plusieurs colonnes numériques dans un df. Si le nom des colonnes n'est pas spécifié, la méthode calculera des statistiques récapitulatives pour toutes les colonnes numériques présentes dans le df.

Afficher les statistiques de la colonne age.

In [32]:
villes.describe(["sexe", "age"]).describe().collect()

[Row(summary='count', summary='5', sexe='3', age='5'),
 Row(summary='mean', summary=None, sexe='50.0', age='43.43979797464467'),
 Row(summary='stddev', summary=None, sexe='NaN', age='27.13153036418277'),
 Row(summary='min', summary='count', sexe='50', age='16'),
 Row(summary='max', summary='stddev', sexe='H', age='83')]

## 4.2) groupby
La méthode groupBy() suivie de la methode agg() permet de grouper le df selon les catgories d'une ou plusieurs colonnes pour faire des calculs sur ces catégories.

Calculez la moyenne de la colonnes sportivité selon le sexe des personnes.

In [33]:
villes.groupBy("sexe").agg({"sportivite":'mean'}).show()

+----+------------------+
|sexe|   avg(sportivite)|
+----+------------------+
|   F|1.8410619134680517|
|   H|1.6356186755623958|
+----+------------------+

Calculez la moyenne de la colonne age et la valeur max de la colonne sportivité par sexe.

In [34]:
villes.groupBy("sexe").agg({"age":'mean' ,"sportivite":'max'}).show()

+----+-----------------+------------------+
|sexe|  max(sportivite)|          avg(age)|
+----+-----------------+------------------+
|   F|5.304311048875953|46.095238095238095|
|   H|7.814024407120282| 50.06896551724138|
+----+-----------------+------------------+

Calculez la moyenne des colonnes vitesse_a_pied et vitesse_a_velo par sexe.

In [35]:
villes.groupBy("sexe").agg({"vitesse_a_pied":'mean',"vitesse_a_velo":'mean'}).show()

+----+-------------------+-------------------+
|sexe|avg(vitesse_a_velo)|avg(vitesse_a_pied)|
+----+-------------------+-------------------+
|   F| 0.9205309567340259|0.36821238269361034|
|   H| 1.3084949404499162| 0.4906856026687184|
+----+-------------------+-------------------+

## 4.3) summary 
La méthode summary() permet des faire des calculs statistiques de base sur toutes les colonnes du df.

In [36]:
villes.summary("count", "max").collect()

[Row(summary='count', id='50', vitesse_a_pied='50', vitesse_a_velo='50', home='50', travail='50', statut='50', salaire='50', sexe='50', age='50', sportivite='50', velo_perf_minimale='50'),
 Row(summary='max', id='51', vitesse_a_pied='2.344207322136085', vitesse_a_velo='6.251219525696226', home='(lon:3.90 lat:0.62)', travail='(lon:3.91 lat:3.22)', statut='éboueur', salaire='148702.7189509448', sexe='H', age='83', sportivite='7.814024407120282', velo_perf_minimale='0.4')]

## 4.4) union de dataframe

#### ajouter les colonnes les unes à côté des autres : join

In [38]:
villes.join(villes, on="id").printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

#### ajouter les lignes les unes sous les autres : union

In [39]:
villes.unionByName(villes).count()

100

## 4.5) filtre

In [40]:
villes.where(villes.sexe=="F").count()

21

## 4.6) concaténation de colonne : F.concat

In [41]:
from pyspark.sql.types import *
from pyspark.sql       import functions as F

Nous allons ici reprendre le df cyclistes.

Utiliser les méthodes withColumn() et F.concat() pour ajouter une colonne au df qui contiendra la concatenation des valeurs des colonnes id et sur_velo.

In [42]:
path = "./data_velo/Cyclistes/*.csv" 
tous_les_cyclistes = spark.read.format("csv").option("header", "true").load(path, inferSchema=True)
tous_les_cyclistes.count()
tous_les_cyclistes.withColumn("id_sur_velo", F.concat(tous_les_cyclistes.id,  tous_les_cyclistes.sur_velo)).first()

Row(id=12, timestamp='2018-01-01 00:01:00', sur_velo=False, velo='False', vitesse=0.030000000000000006, position='(lon:2.07 lat:1.24)', destination_finale='False', id_sur_velo='12false')

# 5) udf 
Il est possible d'enregistrer des fonctions python que l'on écrit nous même pour les appliquer sur une colonne d'une dataframe, c'est ce qu'on appelle les udf, pour User Defined Functions

In [43]:
from pyspark.sql.types     import *
from pyspark.sql.functions import udf

@udf(returnType = FloatType())
def cube(colonne):
    return colonne*colonne

In [55]:
villes.select(cube("salaire")).show()

+-------------+
|cube(salaire)|
+-------------+
|1.82702162E10|
|  4.0106976E8|
| 2.31483568E8|
| 3.32549088E8|
|  9.5185338E8|
| 2.96969139E9|
| 1.12880461E9|
| 1.39238304E8|
|  1.0977216E9|
|  2.8854487E9|
|  6.4748621E8|
| 1.22958438E9|
|  5.5217725E9|
| 2.57463706E9|
|  4.4269376E8|
| 2.87179296E8|
| 4.88372224E8|
|  6.9554765E9|
|  6.1511916E9|
|   5.757398E9|
+-------------+
only showing top 20 rows

In [44]:
villes.select(cube(villes.salaire)).show()

+-------------+
|cube(salaire)|
+-------------+
|1.82702162E10|
|  4.0106976E8|
| 2.31483568E8|
| 3.32549088E8|
|  9.5185338E8|
| 2.96969139E9|
| 1.12880461E9|
| 1.39238304E8|
|  1.0977216E9|
|  2.8854487E9|
|  6.4748621E8|
| 1.22958438E9|
|  5.5217725E9|
| 2.57463706E9|
|  4.4269376E8|
| 2.87179296E8|
| 4.88372224E8|
|  6.9554765E9|
|  6.1511916E9|
|   5.757398E9|
+-------------+
only showing top 20 rows

In [45]:
villes.select(cube("salaire")).collect()
#villes.withColumn("salaire",cube("salaire")).collect()

[Row(cube(salaire)=18270216192.0),
 Row(cube(salaire)=401069760.0),
 Row(cube(salaire)=231483568.0),
 Row(cube(salaire)=332549088.0),
 Row(cube(salaire)=951853376.0),
 Row(cube(salaire)=2969691392.0),
 Row(cube(salaire)=1128804608.0),
 Row(cube(salaire)=139238304.0),
 Row(cube(salaire)=1097721600.0),
 Row(cube(salaire)=2885448704.0),
 Row(cube(salaire)=647486208.0),
 Row(cube(salaire)=1229584384.0),
 Row(cube(salaire)=5521772544.0),
 Row(cube(salaire)=2574637056.0),
 Row(cube(salaire)=442693760.0),
 Row(cube(salaire)=287179296.0),
 Row(cube(salaire)=488372224.0),
 Row(cube(salaire)=6955476480.0),
 Row(cube(salaire)=6151191552.0),
 Row(cube(salaire)=5757398016.0),
 Row(cube(salaire)=1513707392.0),
 Row(cube(salaire)=845977152.0),
 Row(cube(salaire)=15607006208.0),
 Row(cube(salaire)=279298720.0),
 Row(cube(salaire)=658956352.0),
 Row(cube(salaire)=332481376.0),
 Row(cube(salaire)=11568824320.0),
 Row(cube(salaire)=871186176.0),
 Row(cube(salaire)=731495360.0),
 Row(cube(salaire)=22112497664.0),
 Row(cube(salaire)=1202230528.0),
 Row(cube(salaire)=423060096.0),
 Row(cube(salaire)=295006688.0),
 Row(cube(salaire)=1184019968.0),
 Row(cube(salaire)=229316384.0),
 Row(cube(salaire)=4948908544.0),
 Row(cube(salaire)=880376512.0),
 Row(cube(salaire)=993021504.0),
 Row(cube(salaire)=332946784.0),
 Row(cube(salaire)=155353856.0),
 Row(cube(salaire)=375707488.0),
 Row(cube(salaire)=421229280.0),
 Row(cube(salaire)=454536128.0),
 Row(cube(salaire)=5381703680.0),
 Row(cube(salaire)=596220544.0),
 Row(cube(salaire)=948523328.0),
 Row(cube(salaire)=147226240.0),
 Row(cube(salaire)=90477104.0),
 Row(cube(salaire)=988872128.0),
 Row(cube(salaire)=580938816.0)]

# 6)	Etude de cas : analyse des fichiers de logs des cyclistes

In [3]:
from pyspark.sql.types import *
from pyspark.sql       import functions as F
from pyspark.sql.types     import *
from pyspark.sql.functions import udf

## 6.1)  Charger la donnée dans un df nommé cycliste

In [55]:
path = "./data_velo/Cyclistes/*.csv" 
cyclistes = spark.read.format('csv').options(header=True, inferSchema=True).load(path)

## 6.2) vérifier le nombre de cycles

Comptez le nombre d'id uniques.

In [51]:
cyclistes.select("id").distinct().count()

50

## 6.3) transformer les timestamp en date

Voici une fonction qui permert de récuperer la date sous forme de chaîne de caractère dans la colonne timestamps pour la transformer en date exploitable en tant que telle.

Créez une nouvelle colonne dans votre df cycliste stockant le résultat de cette fonction.

In [56]:
from pyspark.sql.types import TimestampType

@udf(returnType = TimestampType())
def transform_timestamp_in_date(timestamp):
    from datetime import datetime
    return datetime.strptime(str(timestamp), "%Y-%m-%d %H:%M:%S")

In [59]:
cyclistes.withColumn('result_final', transform_timestamp_in_date(cyclistes.timestamp)).show()

+---+-------------------+--------+-----+--------------------+-------------------+------------------+-------------------+
| id|          timestamp|sur_velo| velo|             vitesse|           position|destination_finale|       result_final|
+---+-------------------+--------+-----+--------------------+-------------------+------------------+-------------------+
| 12|2018-01-01 00:01:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:01:00|
| 12|2018-01-01 00:02:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:02:00|
| 12|2018-01-01 00:03:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:03:00|
| 12|2018-01-01 00:04:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:04:00|
| 12|2018-01-01 00:05:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:05:00|
| 12|2018-01-01 00:06:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:06:00|
| 12|2018-01-01 00:07:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:07:00|
| 12|2018-01-01 00:08:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:08:00|
| 12|2018-01-01 00:09:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:09:00|
| 12|2018-01-01 00:10:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:10:00|
| 12|2018-01-01 00:11:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:11:00|
| 12|2018-01-01 00:12:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:12:00|
| 12|2018-01-01 00:13:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:13:00|
| 12|2018-01-01 00:14:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:14:00|
| 12|2018-01-01 00:15:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:15:00|
| 12|2018-01-01 00:16:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:16:00|
| 12|2018-01-01 00:17:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:17:00|
| 12|2018-01-01 00:18:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:18:00|
| 12|2018-01-01 00:19:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:19:00|
| 12|2018-01-01 00:20:00|   false|False|0.030000000000000006|(lon:2.07 lat:1.24)|             False|2018-01-01 00:20:00|
+---+-------------------+--------+-----+--------------------+-------------------+------------------+-------------------+
only showing top 20 rows

## 6.4) Durée des trajets par id.

A partir d'ici, il s'agit de traiter votre donnée pour récupérer la durée de chaque trajet effectué par chaque id.

1) trouvez les dates min/max par état de sur_velo, puis par id ET par état de sur_velo.

In [9]:
cyclistes.groupby(["id", "sur_velo"]).agg(F.min(cyclistes["timestamp"]), F.max(cyclistes["timestamp"])).sort("id").shoow()

NameError: name 'cyclistes' is not defined

## 6.5) détecter les changements d'états "sur un vélo" ou pas : window et lag
2) Le résultat n'est pas trés pertinent, il faudrait plutôt le début et la fin de chaque trajet par id. Pour cela, il faudrait détecter les changements d'états "sur_vélo".
Utilisez la classe Window() et la fonction F.lag() pour créer une nouvelle colonne que vous appellerez changement, contenant un 0 si l'état précedent de sur_velo est le même et un 1 si l'état vient de changer (fonction changement() ci-dessous) pour chaque id.

In [5]:
from pyspark.sql.functions import udf

In [7]:
@udf(returnType = IntegerType())
def changement(etat_actuel, etat_precedent):
    """
    Détecte si les deux états sont différent.
    
    Parametres :
        etat_actuel : valeur sur la ligne courante
                      renvoyée par F.lag (0)
        etat_precedent : valeur sur la ligne précédente
                      renvoyée par F.lag(1)
    Return: 0 s'ils sont égaux, 1 s'il y a une différence
    """
    if etat_precedent == None:
        return 0
    if etat_precedent == etat_actuel:
        return 0
    if etat_actuel != etat_precedent:
        return 1

In [10]:
from pyspark.sql.window import Window
w = Window.orderBy(["id", "date"])

collecter les données d'un id et verifier sa position lors des changements d'etats

## 6.6) somme partielle par sous groupe : windows
Grâce à la fonction window appliquez la fonction somme() sur la colonne changement pour numeroter les trajets pour chaque id et stocker les résulats dans une nouvelle colonne appelée numero_de_trajet.


[windows fonctions](https://www.quantmetry.com/blog/window-functions-spark/)

In [ ]:
@udf(returnType = IntegerType())
def somme(indice_actuel, indice_precedent):
    if indice_precedent == None:
        return 0
    return indice_actuel + indice_precedent

## 6.7) Calculer la durée du trajet

Il suffit maintenant de repêter la première étape, c'est a dire récupérer la début et la fin de chaque trajet pour chaque id. Puis calculer la durée des trajets.

# 7) datavisualisation
Convertissez votre dataframe pyspark en dataframe pandas.

A l'aide de la librairie seaborn, réalisez un graphique en barre montrant la durée de tout les trajets.

Faire le même graphique mais cette fois-ci, faire en sorte qu'on puisse choisir un id et afficher seulement les trajets de cet id.

Sauvegardez votre dataset trajets au format csv dans le dossier data.